body {
  margin: 0;
  padding: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-weight: bold;
}

img{
  max-width: 100%;
  height: auto;
}

h1,.headText{
  text-align: center;
  margin-bottom: 1%;
}

h3{
  text-align: center;  
  /* margin-bottom: 2%; */
}

.photoContainer{
  clear: both;
}

.photo{
  border-width: 1px;
  border-radius: 3px;
  border-color: rgba(119, 109, 109, 0.38);
  display: inline-block;
  overflow: hidden;
  width: 97%;
  border-style: solid;
  padding: 9px;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.1rem;
}


.photo label{
  float: left;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.photo input{
  display: inline-block;
  margin-left: .5rem !important;
}

.button.photoButton{
  transition: .5s background;
  float: right;
  margin-right: .5rem;
  background-color: rgb(53, 218, 217);
}

.button.photoButton:hover{
  background: rgb(38, 177, 176);
}

.button.photoButton:visited{
  background: rgb(38, 177, 176);
}

.button.photoButton:active{
  background: rgb(38, 177, 176);
}

.album{
  width: 100%;
  display: inline-block;
}

.album a{
  float: left;
}

.album i{
  font-size: 1.3rem;
}

.album input{
  margin-left: 2rem;
  margin-top: 1.05rem;
  float: right;
}

.album .title{
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.albumLabel{
  float: left;
  font-size: 1.7rem;
  background: #FFFCE3;
  box-shadow: 0px 0px 15px 0px #FFFCE3;
}

.album .title{
  font-weight: bold;
  font-size: 1.25rem;
}

.album .title{
  font-weight: bold;
  font-size: 1.25rem !important;
}

.loader {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.loader *{
  position: relative;
}


.button-center{
  display: block;
  margin: auto;
}

.btn.button-center{
  display: block;
  margin: auto;
}

.arrowRotate{
  transform: rotate(90deg);
}

.button.downloadButton{
  transition: .5s background;  
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  background: rgb(53, 218, 217);
}

.button.downloadButton:hover{
  background: rgb(38, 177, 176);
}

.button.downloadButton:active{
  background: rgb(38, 177, 176);
}
.button.downloadButton:visited{
  background: rgb(38, 177, 176);
}

.accordion .title{
  display: inline-block;
}

.downloadStatus{
  text-align:center;
}

.downloadStatus h3{
  margin-top: 5%;
  font-weight: normal;
}

.downloadStatus h4{
  margin-top: 0;
  font-weight: normal;
}

#root{
  width: 75%;
  margin: auto;
  margin-top: 15px;
  border: .175rem solid rgba(119, 109, 109, 1);
  border-radius: 1.2rem;
  box-shadow: inset 1px 0px 4px 0px #858585;
  padding: 3rem;
}

@media only screen and (max-width: 768px){
  #root{
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100px){
  #root{
    width: 80%;
  }
}

@media only screen and (min-width: 1100px){
  #root{
    width: 65%;
  }
}

#footer{
  margin-top: 2rem;
  text-align: center;
}

#footer p{
  margin-bottom: 1rem;
}


#footer i{
  transition: .3s color;
}

#footer i:hover{
  color: rgba(0,0,0,0.6);
}

#loginPage{
  text-align: center;
}

#loginPage button{
  font-size: 1.3rem;
}
