body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.photo{
  margin-left: 20px;
}

.photo input{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.albumLabel{
  background: #FFFCE3;
  box-shadow: 0px 0px 15px 0px #FFFCE3;
}

#root{
  width: 1000px;
  margin: auto;
  margin-top: 15px;
  border: 2px solid black;
  padding: 15px;
}